.resultSection{
    background-color: pink;
    width:100vw;
    }
.mediaContainer{
    border:1px black solid;
    height: 193px;
    width:343px;
    margin:1rem;
}
.mediaTitle{
    color:white;
    text-shadow: 2px 2px 3px black, 2px -2px 3px black, -2px -2px 3px black, -2px 2px 3px black;
}