.resultSection{
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
.mediaContainer{
    background-color: var(--clr-accent);
    height: 191px;
    width:341px;
    margin:1rem;
    box-shadow: var(--bs);
}
.mediaTitle{
    color:white;
    text-shadow:var(--ts);
}
.infoCon{
    padding:1rem;
    height:193px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    transition:background-color 500ms;
}
.infoConHovered{
    transition:background-color 500ms;
    background-color: rgba(0, 0, 0, .7);
    padding:1rem;
    height:193px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.infoDetails,
.infoDetailsHovered{
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem;
    opacity:0;
    transition: opacity 500ms;
}
.infoDetailsHovered{
    transition: opacity 500ms;
    opacity:1;
}
.infoTop{
    display:flex;
    justify-content: space-between;
}
.rating,
.description{
    color:white;
    text-shadow: var(--ts);
}
.addBtn,
.removeBtn{
    color:white;
    cursor: pointer;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:10px;
    font-weight: var(--fw-bold);
    border: 3px solid white;
    padding:5px 10px;
    border-radius: 50%;
}
.addBtn{
    color:green;
}
.removeBtn{
    color:red;
}