.wholePage{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainContainer{
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
.searchingSpinner{
    animation: rotate 1s linear infinite
}

@keyframes rotate {
    0%{
        transform: rotate(0deg)}
    100% {
        transform: rotate(360deg)
    }
  }