.main{
    padding:1rem;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.trendingSeriesContainer,
.trendingMoviesContainer{
    width:100%;
    max-width: 1500px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sectionTitle{
    color:var(--clr-dark);
    text-align: center;
}
