.homeContainer{
    width:100%;
    max-width:100vw;
    display:flex;
    justify-content: space-between;
}
.main{
    padding:1rem;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.trendingSeriesContainer,
.trendingMoviesContainer{
    width:100%;
    max-width: 1500px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sectionTitle{
    color:var(--clr-dark);
    text-align: center;
}
.sidebarContainer{
    background-color: var(--clr-light-accent);
    color: var(--clr-dark);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.listItemContainer{
    padding:10px;
    display:flex;
    position:relative;
    width:100%;
    background-color: rgba(37, 37, 37, .5);
    border-bottom: 1px solid white;
    min-width: 310px;
}
.listItemPoster{
    width:100px;
}
.listItemDetails{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:1rem;
    padding:5px;
    width:100%;
}
.listItemRank{
    margin-bottom: -10px;
    align-self: flex-end;
    opacity: 0;
}
.listItemTitle{
    color:white;
    max-width: 300px;
    text-overflow: clip;
}
.listItemTags{
    opacity: 0;
}
.listItemLastSeenContainer{
    position:relative;
}
.listItemLastSeenFacade{
    color:var(--clr-light-accent);
    cursor: pointer;
    padding:0;
    margin:0;
    line-height: .8;
    text-shadow: var(--ts);
}
.listItemLastSeen{
    position:absolute;
    color:white;
    text-shadow: var(--ts);
    background-color:transparent;
    outline: none;
    border:none;
}
.listItemRemove{
    cursor:pointer;
    color:red;
    position:absolute;
    bottom:5px;
    right:5px;
}
.listItemOptionsContainer{
    display:flex;
    padding:10px;
    width:calc(100%);
    height:30%;
    justify-content: space-evenly;
    align-items: center;
    bottom:0;
    left:0;
    position:absolute;
    background-color: #252525;
    color:white;
    z-index: 100;
    opacity: 0;
    transition:opacity 500ms;
}
.listItemContainer:hover .listItemOptionsContainer{
    opacity:1;
}