.homeContainer{
    width: 1300px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height:calc(100vh + -208px);
}
.listsContainer{
    width:100%;
    display:flex;
    justify-content: space-evenly;
}
.listContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:600px;
    height:1200px;
}
.list{
    width:80%;
    height:80%;
}
.listItem{
    height:10%;
    border: 1px solid black;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.posterImg{
    height:100%;
}