*, *::after, *::before{ 
  box-sizing: border-box;
  margin:0;
  padding:0;
 }

/* --------------Layout----------------- */

body{
  margin:0;
  padding:0;
  background-color: var(--clr-light);
}

:root{
  --ff-primary: 'Ubuntu', sans-serif;
  --ff-secondary:'Roboto Mono', monospace;
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #D9D9D9;
  --clr-dark: #252525;
  --clr-accent: #0079BD;
  --clr-light-accent: #8EA9EF;
  --fs-h1strong: 4rem;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.125rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15),
        0.0625em 0.0625em 0.1em rgba(0,0,0,.10);
  --ts: 2px 2px 2px black, 
        2px -2px 2px black, 
        -2px -2px 2px black, 
        -2px 2px 2px black;
}
.homeContainer{
  width:100%;
  max-width:100vw;
  display:flex;
  justify-content: space-between;
}
